body {
    color: #FF6F61 !important;
    position: relative;
    z-index: -2;
}

h1 h2 h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

h4 p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}

button {
    background-color: #FF6F61 !important;
    border: none;
}

.btn {
    background-color: #FF6F61 !important;
    border: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1em;
}

.btn-secondary {
    border: none;
}

.btn-outline-success {
    color: white;
    background-color: #FF6F61 !important;
    border: none;
}

nav {
    position: relative;
    background-color: white;
    box-shadow: 0 5px 10px -1px rgba(0, 0, 1, .1);
    height: 75px;
}

.nav-logo {

    position: absolute;
    margin-top: -15px;
    left: 50%;
    margin-left: -75px;
}

/* .navbar-toggler {

  position: fixed;
  margin-top: -15px;
  left: 50%;
 margin-left: -75px;
   
} */


.dropdown {
    position: relative;
    color: #FF6F61;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}



.navbar-collapse {
    background: white;
    
    border-radius: 5px;
    
}

.inputField {
    
    border: 1px solid #FF6F61;
    border-radius: 5px;
}

  .form-inline {
    /* max-width: 270px; */
    padding-left: 20px;
    padding-right: 20px;

} 

 /* .form-control {
    width: 70%;
} */
#dropdownMenuButton {
    margin-left: 20px;
    margin-right: 20px;
}   



.jumbotron-fluid {
    position: relative;
    height: 100vh;
    text-align: center;
    color: white;
    margin-bottom: 0px;
    /* background-image: url("images/1.jpg"); */
    background-repeat: none;
    background-position: center;
    background-size: cover;
    z-index: -2;
}

.overlay {
    height: 100%;
    width: 100%;
    background-color: black;
    position: absolute;
    top: 0;
    bottom: 0;
    opacity: 40%;
    z-index: -1;
    -webkit-opacity: 0.4
}

.learnMore {
    z-index: 999999 !important;
}

.learnMore:hover {
    background-color: black
}

.display-4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 3em;
}

.categoryTag {
    font-size: 1em;
}

.displayList {
    list-style: none;
    margin: 20px;
    padding: 0px
}

footer {
    text-align: center;
    background-color: #FF6F61;
    color: rgb(109, 109, 109);
    font-size: 12px;
    padding: 10px;
}

.hide {
    display: none
}


.displayList li{
    max-width: 700px;
    margin: auto
}

.displayList .card{
    border-radius: 10px;
}

.ingredientsJumbo{
    padding: 64px 32px !important;
    background-color: white !important;
}

.recipeInstructionsImage {
   max-width: 100%;
   height: auto;
}

/* 
.card-img-top {
    width: 100%;
    height: 15vh;
    object-fit: cover;
}

.card {
    border: none;
}

.card-body {

    padding: 0px;
    padding-left: 10px;
    
}
 */

.recipeInstructionsImage {
    width: auto;
    height: auto;
}

.ingredientCard{
    border: none !important;
    /* padding: none !important; */
    /* position: relative */
}

.ingredientList {
    /* position: absolute;
    left: 0; */
    padding: 0px !important;
    margin: 0px !important;
    width: auto;
    height: auto;
    float: right;
    margin-bottom: 10px
}

#whisk-basket{
    margin-top: 25px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    position: relative;
    left: 25%
}
.ingredientCardBody{
    /* padding: 0px !important */
    padding-top: 0 !important;
}

.ingredientCardBody h3, h6{
    text-align: center !important;
}

.instructionJumbo{
    margin-bottom: 0px !important
}